<header>
    <nav class="navbar navbar-expand" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="#">Todo App</a>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <logout></logout>
                    </li>
                </ul>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>
<footer>
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-6">
                <small>
                    <a href="https://www.linkedin.com/in/nicol%C3%A1s-cardozo-210575143/">Desarrollado por Nicolás Cardozo</a>
                </small>
            </div>
        </div>
    </div>
</footer>

