<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 offset-sm-3">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Bienvenido</h3>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-danger" *ngIf="notFoundAlert">
                            usuario y/o contraseña incorrectos
                        </div>
                        <form (submit)="login()">
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="usuario.Username" [ngModelOptions]="{standalone : true}"/>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" [(ngModel)]="usuario.Clave" [ngModelOptions]="{standalone : true}"/>
                            </div>
                            <div class="alert alert-info" *ngIf="emptyFieldsAlert">
                                Los campos no pueden quedar vacíos
                            </div>
                            <button class="btn btn-info">Ingresar</button>
                        </form>
                        <a routerLink="/registrarse" class="btn btn-link btn-sm">¿No tiene una cuenta? Registrese aquí</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>